**/.idea
**/Temp
**/index.html
!projects/tools/**/*.html
**/.scene_backup
**/ProjectSetting/editor.setting
**/Assets/meta/globalUrlMap.js
**/Assets/meta/globalUrlMap.js.meta
**/Build
**/globalUrlMap.js
**/_book
node_modules
