/**
 * @author liyk
 * @copyright 2015 Qcplay All Rights Reserved.
 */

html, body {
    margin: 0;
    padding: 0;
}
.navbar .breadcrumb {
    margin-top: 8px;
    margin-bottom: 8px;
}

#wrapper section {
    padding: 10px;
}

#gameZone {
    position: absolute;
    border-radius: 5px;
    background: black;
}
#dragger {
    position: absolute;
    touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: rgba(128, 128, 128, 0.5);
    cursor: pointer;
    right: -30px;
    bottom: -30px;
}

.mask {
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}

#gameZone iframe {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}